body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

nav {
    background-color: rgb(255, 127, 127);
    padding-left: 15px;
    list-style: none;
    display: grid;
    position: fixed;
    width: 99%;
    grid-template-columns: repeat(2,1fr);
}

#hjem {
    display: flex;
    justify-content: left;
}

#meny {
    display: flex;
    align-items: center;
    justify-content: right;
}
#hjem a {
    margin: 10px;
    padding: 5px;
    color: white;
    font-weight:100;
    font-size:medium;
    text-decoration: none;
    background-color: rgba(224, 92, 92, 0.685);
    transition: transform 0.3s ease-in-out;
}

#hjem a:hover {
    transform: scale(1.1);
}

#meny a {
    margin: 10px;
    padding: 5px;
    color: white;
    font-weight:100;
    font-size:medium;
    text-decoration: none;
    background-color: rgba(224, 92, 92, 0.685);
    transition: transform 0.3s ease-in-out;
}

#meny a:hover {
    transform: scale(1.1);
}

#divider {
    background-color: rgb(186, 186, 186);
    height: 3px;
    width: 100%;
    margin-top: 49px;
    position: fixed;
}

@media only screen and (max-width: 556px) {
    nav {
        background-color: rgb(255, 127, 127);
        padding: 10px;
        list-style: none;
        display: grid;
        position: fixed;
        width: 99%;
        grid-template-columns:repeat(2,1fr)
    }

    #hjem {
        display: flex;
        justify-content: left;
    }

    #meny {
        display: flex;
        align-items: center;
        justify-content: right;
    }
    #hjem a {
        padding: 5px;
        color: white;
        font-weight:100;
        font-size:medium;
        text-decoration: none;
        background-color: rgba(224, 92, 92, 0.685);
    }

    #meny a {
        margin: 5px;
        padding: 5px;
        color: white;
        font-weight:100;
        font-size:medium;
        text-decoration: none;
        background-color: rgba(224, 92, 92, 0.685);
    }

    #divider {
        background-color: rgb(186, 186, 186);
        height: 4px;
        width: 100%;
        margin-top: 49px;
        position: fixed;
    }
}

#start {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-items: center;
    }

@media only screen and (max-width: 820px) {
    #portrett {
        padding: 50px;
        grid-area: p;
        margin-top: -10rem;
    }
    #portrett img {
        width:fit-content;
        max-width: fit-content;
    }
    #meg {
        max-width: 500px;
        margin-right: 1rem;
        margin-top: -10rem;
        text-wrap: wrap;
        grid-area: m;
    }
    #start {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: "m"
                             "p";
        justify-items: center;
        align-items: center;
    }
}

@media only screen and (max-width: 620px) {
    #portrett {
        padding: 50px;
        grid-area: p;
        margin-top: -10rem;
    }
    #portrett img {
        width: 100%;
    }
    #meg {
        max-width: 500px;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: -10rem;
        text-wrap: wrap;
        grid-area: m;
    }
    #start {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: "m"
                             "p";
        justify-items: center;
        align-items: center;
    }
}

#portrett {
    padding: 50px;
}

#portrett img {
    max-width: 500px;
}


#meg {
    max-width: 500px;
    margin-right: 1rem;
    text-wrap: wrap;
}

#meg header {
    margin-bottom: 10px;
    font-size: x-large;
}

#meg a {
    font-size: large;
}

#pil {
    display: flex;
    justify-self: center;
    position: absolute;
    bottom: 0;
}
#pil:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

@media only screen and (max-width: 820px) {
    #pil {
        display: none;
        justify-self: center;
        transition: transform 0.3s ease-in-out;
        position: absolute;
        bottom: 0;
    }

    #pil :hover {
        transform:scale(1.1);
    }
}

#overskrift {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-size: x-large;;
}

#prosjekter {
    margin: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
}


#prosjekter div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 127, 127);
    min-width: 200px;
    min-height: 200px;
    border-radius: 5px;
}

#prosjekter div header {
    color: white;
    font-weight:300;
    font-size:medium;
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(224, 92, 92, 0.685);
}