body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 30px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#spiderman {
    background-color: rgb(255, 192, 192);
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: large;
    margin: 20px;
    height: fit-content;
}

#spiderman header {
    font-size: 2rem;
    margin: 20px;
}

#spiderman a {
    margin: 20px
}

#spiderman img {
    margin: 26px;
    width: 50%;
    border-radius: 10px;
}

#poster {
    width: 40%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#poster img {
    width: 100%;
    border-radius: 10px;
}

#poster a {
    text-align: center;
}

#om {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#om header {
    font-size: 2rem;
}

#forfatter {
    width: 30%;
    margin: 20px;
}

#forfatter header {
     font-size: 2rem;
}

#illustrør {
    width: 30%;
    margin: 20px;
}

#illustrør header {
     font-size: 2rem;
}

#flex {
    width: 100%;
    height: 200%;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
    #spiderman {
        background-color: rgb(255, 192, 192);
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: large;
        margin: 20px;
        height: fit-content;
    }
    #flex {
        width: 100%;
        height: 200%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }  
}