html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #bc4749;
    font-family: "ChristmasFont";
}

@font-face {
  font-family: "ChristmasFont";
  src: url("fonts/LastChristmas_PERSONAL_USE_ONLY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#girlanderL {
    position: absolute;
    max-height: 100%;
    rotate: 90deg;
    width: 1000px;
    left: -280px;
    top: 350px;
    overflow: hidden;
}

#girlanderR {
    position: absolute;
    max-height: 100%;
    rotate: 90deg;
    width: 1000px;
    left: 800px;
    top: 350px
}

#hoved {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
}

#butikkMobil {
    display: none;
}

#store {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #386641;
}

#store h1 {
    align-self: center;
}

.butikk {
    text-align: left;
    padding-left: 5px;
    margin: 20px;
    margin-top: 10px;
    background-color: #3d6b47;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}

.navn {
    font-weight: bolder;
}

#garland {
    position: absolute;
    width: 500px;
}

#main header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main header h1 {
    font-family: "ChristmasFont";
    margin-top: 80px;
    margin-bottom: 0;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 6px black;
}

#main header p {
    font-size: medium;
}

#hjul {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
}

#hjulbilde {
    width: 350px;
    transform-origin: center;
    transition: transform 0.1s ease;
}

#hjul img:active {
    transform: scale(1.05);
}

/* @keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } } */

#hjulet {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: inherit;
  outline: none;
  appearance: none;
}

#hjul p {
    font-size: medium;
}

#farten {
    font-family: 'Courier New', Courier, monospace;
}

#stat {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #386641;
}

#stat h1 {
    align-self: center;
}

.statestikk {
    text-align: left;
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    background-color: #3d6b47;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 645px) {
    #hoved {
        flex-direction: column;
        align-items: center;
    }

    #main header h1 {
        display: none;
    }

    #butikkMobil {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: xx-large;
        font-weight: bolder;
        background-color: #6a994e;
        width: 100%;
    }

    #store {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .butikk {
        width: 20%;
    }

    #store h1 {
        display: none;
    }

    #stat {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    #stat h1 {
        display: none;
    }
}